#nav {
    text-align: center;
}

#nav ul {
    list-style: none;
    margin: 20px auto;
    margin-left: -20px;
}



.navbar-brand {
	font-size: 25px;
}
li {
	margin-bottom: 30px;
	padding: 10px;
    text-decoration: none;
    box-decoration-break: none;
}

p {
	margin-top: 30px;
	color:black;
	font-size: 15px;
}
figcaption {
    margin-top: 10px;
    color: black;
}

img {
    margin: 0 auto;
}